body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffcc00;
}


ti {
    text-align: center;
}